<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="CompiledExperience.SpectrumScheme" Publisher="CN=B13BAC0B-9E6D-4B97-8D77-CF367982F609" Version="1.1.0.2" />
  <Properties>
    <DisplayName>Spectrum Scheme</DisplayName>
    <PublisherDisplayName>Compiled Experience</PublisherDisplayName>
    <Logo>Resources\Images\Square50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Spectrum.Demo.Windows.App">
      <m2:VisualElements DisplayName="Spectrum Scheme" Square150x150Logo="Resources\Images\Square150.png" Square30x30Logo="Resources\Images\Square30.png" Description="Create awesome colour schemes on your device" ForegroundText="light" BackgroundColor="#445878">
        <m2:DefaultTile Wide310x150Logo="Resources\Images\Wide.png" Square70x70Logo="Resources\Images\Square70.png">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Resources\Images\Splash.png" BackgroundColor="#445878" />
      </m2:VisualElements>
    </Application>
  </Applications>
</Package>