<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="88547377-4583-4109-97fa-360d412b94e7" Publisher="CN=Nigel" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="88547377-4583-4109-97fa-360d412b94e7" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Spectrum.Demo.WindowsPhone</DisplayName>
    <PublisherDisplayName>Nigel</PublisherDisplayName>
    <Logo>Resources\Images\Square50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Spectrum.Demo.WindowsPhone.App">
      <m3:VisualElements DisplayName="Spectrum" Square150x150Logo="Resources\Images\Square150.png" Square44x44Logo="Resources\Images\Square44.png" Description="Spectrum.Demo.WindowsPhone" ForegroundText="light" BackgroundColor="#445878">
        <m3:DefaultTile Wide310x150Logo="Resources\Images\Wide.png" Square71x71Logo="Resources\Images\Square71.png">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo" />
            <m3:ShowOn Tile="wide310x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:SplashScreen Image="Resources\Images\Splash.png" />
      </m3:VisualElements>
    </Application>
  </Applications>
</Package>